
.bg-custom-0 {
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-image: linear-gradient(to right top, #a8eb12, #00bf72, #008793, #004d7a, #051937);
}

.bg-custom {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.bg-custom-1 {
    background-image: linear-gradient(to right, #004d7a, #008793);
}

.bg-dark-1 {
    background: #202023;
}
.bg-dark-2 {
    background: #2b3046;
}

.text-primary-2 {
    color: #006283;
}



/* start homes */
.custom-shape-divider-bottom-1662057955 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1662057955 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1662057955 .shape-fill {
    fill: #FFFFFF;
}

/* skill  */
.custom-shape-divider-top-1669177420 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669177420 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1669177420 .shape-fill {
    fill: #FFFFFF;
}

/* timeile */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #008793;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.text-danger {
    color: #008793 !important;
}

.bg-danger {
    background-image: linear-gradient(to right top, #a8eb12, #00bf72, #008793);
}

.btn-danger {
    background: #00bf72;
    /* background: linear-gradient(222deg, rgba(131,58,180,1) 0%, rgba(92,29,253,1) 50%, rgba(252,176,69,1) 100%); */
    border: #1e4adc !important;
}


/* SWIPER CSS  */
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #093;
}

.shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}